.DS_Store
/node_modules
package-lock.json
/dist
/coverage
/bin
/obj

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
