<div class="dev-toolbar">
    <div class="dev-toolbar-content">
        DEV
        <% if(!username) { %>
        <form action="/dev_login" method="GET">
            <button type="submit">Dev Login</button>
        </form>
        <% } %>
        <% if(options && options.room_id) { %>
        <button onclick="loadQueue('<%- options.room_id %>')">loadQueue()</button>
        <button onclick="proposeUpdate('<%- options.room_id %>')">proUpdate()</button>
        <button onclick="playYoutubeFromData()">playCur()</button>

        <% } %>
    </div>
</div>

<style>
    .dev-toolbar{
        padding: 5px;
        background: rgba(0, 0, 255, .2);
        position: absolute;
        top: 5px;
        right: 5px;
        height: 150px;
        width: 120px;
    }
    .dev-toolbar-content{
        color: black;
    }
</style>