<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LANDR</title>
    <link type="text/css" rel="stylesheet" href="/public/styles/general.css"/>
    <link type="text/css" rel="stylesheet" href="/public/styles/infocard.css"/>
</head>

<body>
    <div class="not-menu">
        <%- include(viewname, {
            username: username, 
            server_utils: server_utils, 
            rooms: locals.rooms ? rooms : null, <!--only pass `rooms` if it exists, check existence with `locals.rooms` -->
            options: locals.options ? options : null <!--only pass `options` if it exists, check existence with `locals.options` -->
        }); -%>
    </div>

    <%- include('../views/sidebar', {username: username}); -%>
    <%- include('../views/devtoolbar') -%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src ="../public/scripts/general_client.js"></script>
    <script src ="../public/scripts/infocard.js"></script>
    <script src ="../public/scripts/room.js"></script>
    <script src ="../public/scripts/newitem.js"></script>


</body>

</html>