
<div class="library-container">

    <div class="spacer" style="height: 100px;"></div>
    <div class="library-name"> <%= username %>'s library</div>

    <div class="library-control-bar">
        <div class="library-searchbar-container">
            SEARCHBAR CONTAINER
        </div>

        <div class="library-new-item-conatiner">
            <form action="/newitem" method="GET">
                <button type="submit">New Item</button>
            </form>
        </div>
    </div>

    <div class="spacer" style="height: 40px;"></div>

    <div class="library-content-container">

        <% for(var i = 0; i < options.songs.length; i++) { %>
        <%- include('../views/partials/infocard', {
        card_main_text: options.songs[i].name,
        card_dropdown_text: options.songs[i].notes,
        partial_buttons_left: 'infocard_library_song_buttons_left',
        partial_buttons_left_options: null,
        }) -%>
        <% } %>

    </div>


</div>
