<script src="../public/scripts/library.js"></script>

<div class="library-container">

    <div class="spacer" style="height: 100px;"></div>
    <div class="library-name"> <%= username %>'s library</div>

    <div class="library-control-bar">
        <div class="library-searchbar-container">
            <input type="text" class="library-searchbar-query"/>
            <button onclick="submitQuery()">
                <i class="fa fa-search fa-lg" style="width: 20px; height: 20px;"></i>
            </button>
        </div>

        <div class="library-new-item-conatiner">
            <form action="/newitem" method="GET">
                <button type="submit">New Item</button>
            </form>
        </div>
    </div>

    <div class="library-searchbar-help-text">
        Search using either "Name: nameHere", "Description: descriptionHere", or "Tag: tagHere expression1 expression2" <br />
        Where the expressions are an equalty (&lt; &gt; &lt;= &gt;= ==) and a value <br />
        Example: "Tag: Fast &lt;90 &gt;=50" (without quotes)
    </div>

    <div class="spacer" style="height: 40px;"></div>

    <div class="library-content-container">

        <% for(var i = 0; i < options.songs.length; i++) { %>
        <%- include('../views/partials/infocard', {
        card_main_text: options.songs[i].name,
        card_dropdown_text: options.songs[i].notes,
        infocard_classes: 'infocard-song',
        partial_buttons_left: 'infocard_library_song_buttons_left',
        partial_buttons_left_options: null,
        partial_main_body: 'infocard_library_element_main_body',
        partial_main_body_options: {
            tags: options.tags, 
            relevantTagIds: options.songs[i].tagIds, 
            server_utils: server_utils, 
            element_type: 'Song', 
            elementId: options.songs[i]._id
        }
        }) -%>
        <% } %>

        <div class="spacer" style="height: 10px;"></div>

        <% for(var i = 0; i < options.playlists.length; i++) { %>
        <%- include('../views/partials/infocard', {
        card_main_text: options.playlists[i].name,
        card_dropdown_text: options.playlists[i].notes,
        infocard_classes: 'infocard-playlist',
        partial_buttons_left: 'infocard_library_playlist_buttons_left',
        partial_buttons_left_options: null,
        partial_main_body: 'infocard_library_element_main_body',
        partial_main_body_options: {
            tags: options.tags, 
            relevantTagIds: options.playlists[i].tagIds, 
            server_utils: server_utils, 
            element_type: 'Playlist', 
            elementId: options.playlists[i]._id
        },
        partial_dropdown_body: 'infocard_library_playlist_dropdown_body',
        partial_dropdown_body_options: {
            playlist: options.playlists[i], 
            allSongs: options.songs, 
            server_utils: server_utils, 
            playlistelements: options.playlistelements, 
            allPlaylists: options.playlists, 
            depth: 1
        },
        }) -%>
        <% } %>

    </div>

</div>
