
<div class="newitem-container">

    I AM NEW ITEM

    <button onclick="toggleMenus()">
        <i class="fa fa-exchange fa-lg"></i>
    </button>

    <div class="new-song-container">

        I AM NEW SONG

        <form action="/new-song" method="POST">
            <button type="submit">New Song</button>
        </form>
    </div>

    <div class="new-playlist-container hidden">

        I AM NEW PLAYLIST

        <form action="/new-playlist" method="POST">
            <button type="submit">New Playlist</button>
        </form>
    </div>
</div>
