
<div class="room-container">
    <input type="hidden" class="room_id hidden" value="<%- options.room_id %>" name="room_id" />
    <div class="spacer" style="height: 100px;"></div>
    <div class="room-name"><%= options.name %></div>
    <div class="play-name">Play something!</div>
    <div class="media-container">
        <div class="no-media">There is no media playing, queue something</div>
    </div>

    <div class="room-bottom-bar">
        <div class="thumbs-container">
            <button>up</button>
            <button>down</button>
        </div>
        <div class="submission-container">
            <% if(options.library) { %>
            <form action="/submit-song" method="POST" id="submit-song">
                <select name="song_id">
                    <% for(var i = 0; i < options.songs.length; i++) { %>
                    <option value="<%- options.songs[i]._id -%>"><%- options.songs[i].name -%></option>
                    <% } %>
                </select>
                <!--To use ajax, this button is being overriden, see room.js-->
                <button type="submit">New Song</button>
            </form>
            <% } %>
        </div>
    </div>

</div>

<script src="../public/scripts/room.js"></script>
