
<div class="room-container">
    <input type="hidden" class="room_id hidden" value="<%- options.room_id %>" name="room_id" />
    <div class="spacer" style="height: 100px;"></div>
    <div class="room-name"><%= options.name %></div>
    <div class="play-name">Play something!</div>
    <div class="media-container">
        <div class="no-media">There is no media playing, queue something</div>
    </div>

    <div class="room-bottom-bar">
        <div class="thumbs-container">
            <button onclick="submitThumb(true)"><i class="fa fa-thumbs-up fa-lg" style="width: 20px; height: 20px;"></i></button>
            <button onclick="submitThumb(false)"><i class="fa fa-thumbs-down fa-lg" style="width: 20px; height: 20px;"></i></button>
        </div>
        <div class="room-admin-button-container">
            <% if (options.isRoomAdmin) {%>
                <button><i class="fa fa-gear fa-lg" style="width: 20px; height: 20px;"></i></button>
            <% } %>
        </div>
        <div class="submission-container">
            <% if(options.library) { %>

            <%- include('../views/partials/infocard', {
                partial_dropdown_body: 'infocard_submission_dropdown_body',
                partial_dropdown_body_options: { 
                    songs: options.songs,
                    playlists: options.playlists,
                },
                infocard_style: "width: 100%"
            }) -%>

            <% } %>
        </div>
    </div>

</div>

<script src="../public/scripts/room.js"></script>
