
<div class="room-container">
    <input type="hidden" class="room_id hidden" value="<%- options.room_id %>" name="room_id" />

    I AM A ROOM

    <% if(options.library) { %>
    <form action="/submit-song" method="POST" id="submit-song">
        <select name="song_id">
            <% for(var i = 0; i < options.songs.length; i++) { %>
            <option value="<%- options.songs[i]._id -%>"><%- options.songs[i].name -%></option>
            <% } %>
        </select>
        <!--To use ajax, this button is being overriden, see room.js-->
        <button type="submit">New Song</button>
    </form>
    <% } %>

</div>

<script src="../public/scripts/room.js"></script>
