
.infocard{
    border: 1px solid black;
    padding: 10px;
}

.infocard-dropdown {
    border: 1px dashed black;
    margin-left: 10px;
}

.infocard-button{
    /*float: right;*/
}

.infocard-button-container{
    float: right;
    display: inline-block;
}

.infocard-main-text{
    display: inline-block;
}