
.infocard {
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
    /*padding: 10px;*/
}

.infocard-dropdown {
    border: 1px dashed black;
    margin-left: 10px;
}

.infocard-button {
    /*float: right;*/
}

.infocard-button-container {
    float: right;
    display: inline-block;
    margin-right: 10px;
    /*min-width: 100px;*/
}

.infocard-main-text {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    /*min-width: 100px;*/
    /*float: left;*/
}

.infocard-main-body {
    display: inline-block;
    /*width: 100%;*/
    float: right;
}

.infocard-main-body-conatiner {
    /*float: left;*/
    display: inline-block;
}