
.library-name {
    margin: auto;
    width: 50%;
    text-align: center;
}

.library-control-bar {
    border: 1px dashed black;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.library-searchbar-container {
    display: inline-block;
    /*border: 1px dashed black;*/
    width: 70%;
    margin: auto;
}

.library-searchbar-help-text {
    /*display: inline-block;*/
    width: 70%;
    margin: auto;
}

.library-new-item-conatiner {
    display: inline-block;
    float: right;
}

.library-content-container {
    margin: auto;
    width: 70%;
}

.edit-tags-song {
    display: inline-block;
}

.tags-container {
    margin-left: 10px;
    margin-right: 10px;
}

.tag {
    border: 1px dashed black;
    display: inline-block;
}

.newitem-container {
    width: 70%;
    margin: auto;
}

.new-item-text {
    text-align: center;
}

.new-item-form-container {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.new-item-form-container input {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}

.new-item-toggle-button {
    margin: auto;
    width: 60px;
}

.new-item-header {
    
}

.new-item-button-container {
    text-align: center;
}

.playlistelement-playlist {
    margin-left: 10px;
}

.tags-editable .tag:hover {
    background-color: lightgray;
}

.tag-name {
    display: inline-block;
}

.tag-delimiter {
    display: inline-block;
}

.tag-value {
    display: inline-block;
}

.library-searchbar-query {
    width: 90%;
}

.search-filter-out {
    display: none;
}