<div class="playlist-button-container hidden">
    <div class="add-song-container">
        <select name="song_id">
            <% for(var i = 0; i < options.allSongs.length; i++) { %>
                <option value="<%- options.allSongs[i]._id -%>"><%- options.allSongs[i].name -%></option>
            <% } %>
        </select>
        <button onclick="addSong(this)">Add Song</button>
    </div>

    <div class="add-playlist-container">
        <select name="playlist_id">
            <% for(var i = 0; i < options.allPlaylists.length; i++) { %>
                <option value="<%- options.allPlaylists[i]._id -%>"><%- options.allPlaylists[i].name -%></option>
            <% } %>
        </select>
        <button onclick="addPlaylist(this)">Add Playlist</button>
    </div>
</div>
