
<div class="infocard">
    <%= card_main_text %>
    <button class="infocard-button-plus" onclick="toggleDropdown(this)">+</button>
    <button class="infocard-button-minus hidden" onclick="toggleDropdown(this)">-</button>
    <form action="/join_room" method="POST" style="display: inline-block">
        <input type="hidden" class="hidden" value="<%- card_data %>" name="room_id"/>
        <button type="submit">Join</button>
    </form>
    <div class="infocard-dropdown hidden">
        <%- card_dropdown_text %>
    </div>
</div>
