
<div class="infocard">
    <%= card_main_text %>
    <!--<button class="infocard-button" onclick='<%= utils.infocard.toggleCard(this) %>'>+</button>-->
    <button class="infocard-button-plus" onclick='toggleDropdown(this)'>+</button>
    <button class="infocard-button-minus hidden" onclick='toggleDropdown(this)'>-</button>
    <div class="infocard-dropdown hidden">
        <%- card_dropdown_text %>
    </div>
</div>
