
<div class="edit-tags-song">
    <button onclick="toggleTagEdits(this)">
        <i class="fa fa-pencil fa-lg" style="width: 20px; height: 20px;"></i>
        <!--<i class="fa fa-pencil fa-lg hidden" style="width: 20px; height: 20px;"></i>--> 
        <!--TODO: add a second icon and make it flip visibility-->
    </button>
</div>
