
<div class="infocard">
    IAM INFOCARD
    <button>+</button>
    <div class="infocard-dropdown">
        IAM INFOCARD DROPDOWN
    </div>
</div>

<% 
    console.log(utils.infocard.toggleCard())
%>