
<form action="/join_room" method="GET" style="display: inline-block">
    <input type="hidden" class="hidden" value="<%- options.room_id %>" name="room_id" />
    <button type="submit">Join</button>
</form>
